<div id="smallScreenFilter">
    <p id="smallScreenToggle">
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Filter Jobs <span class="arrow-down">&#8681;</span><span class="arrow-up" style="display: none">&#8679;</span></a>
    </p>
    <div id="filter-content" class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
            <ul id="dropdownFilterList" class="row">
                <li>
                    <mat-form-field>
                        <mat-select panelClass="profession-select" id="profession" name="profession" class="custom-select" [(value)]="selectedProfession" placeholder="Profession">
                            <mat-option value="None">None</mat-option>
                            <mat-option *ngFor="let profession of professions" [value]="profession.title">{{profession.title}}</mat-option>
                        </mat-select>  
                    </mat-form-field>
                    <div class="chosen-profession">{{ selectedProfession }}</div>              
                </li>              
                <li>
                    <label for="titleFilter">Title</label>
                    <input type="text" [(ngModel)]="search.title" id="titleFilter" name="titleFilter" placeholder="(e.g. Information Technology)">
                </li>
                <li>
                    <label for="companyFilter">Company</label>
                    <input type="text" [(ngModel)]="search.employer" id="companyFilter" name="company" placeholder="(e.g. Apple Computers)">
                </li>
                <li>
                    <label for="locationFilter">Location</label>
                    <input type="text" [(ngModel)]="search.location" id="locationFilter" name="locationFilter" placeholder="(city, state, or zip code)">
                </li>
                <li>
                    <label for="jobPostingDateFilter">Posting Date</label>
                    <select name="jobPostingDateFilter" id="jobPostingDateFilter">
                        <option selected>Last 30 Days</option>
                        <option value="-1">Any Date</option>
                        <option value="0">Today</option>
                        <option value="1">Yesterday</option>
                        <option value="3">Last 3 Days</option>
                        <option value="7">Last 7 Days</option>
                        <option value="14">Last 14 Days</option>
                        <option value="30">Last 30 Days</option>
                    </select>
                </li>
                <li>
                    <div id="jobTypeFilter" class="form-group col-md-6 ">
                        <label id="checkboxFilterTitle" for="typeFilter">Job Type</label>
                        <div id="typeFilter">
                            <label class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Full Time</span>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Contract</span>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Part Time</span>
                            </label>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="btn btn-success">Search</button>
            <button class="btn btn-danger">Reset</button>
          </div>
    </div>
</div>
<div id="viewJobsContainer" class="row">

    <div id="sidebar" class="col-sm-3 container">

        <ul id="filterList" class="row">
            <li>
                <mat-form-field>
                    <mat-select panelClass="profession-select" id="profession" name="profession" class="custom-select" [(value)]="selectedProfession" placeholder="Profession">
                        <mat-option value="None">None</mat-option>
                        <mat-option *ngFor="let profession of professions" [value]="profession.title">{{profession.title}}</mat-option>
                    </mat-select>  
                </mat-form-field>
                <div class="chosen-profession">{{ selectedProfession }}</div>              
            </li>
            <li>
                <label for="jobTitle">Title</label>
                <input type="text" id="jobTitle" name="jobTitle" placeholder="(e.g. Information Technology)">
            </li>
            <li>
                <label for="jobLocation">Location</label>
                <input type="text" id="jobLocation" name="jobLocation" placeholder="(city, state, or zip code)">
            </li>
            <li>
                <label for="jobDateFilter">Posting Date</label>
                <select name="jobDateFilter" id="jobDateFilter">
                    <option selected>Last 30 Days</option>
                    <option value="-1">Any Date</option>
                    <option value="0">Today</option>
                    <option value="1">Yesterday</option>
                    <option value="3">Last 3 Days</option>
                    <option value="7">Last 7 Days</option>
                    <option value="14">Last 14 Days</option>
                    <option value="30">Last 30 Days</option>
                </select>
            </li>
            <li>
                <div id="jobType" class="form-group">
                    <label id="jobTypeBoxesLabel" for="jobTypeBoxes">Job Type</label>
                    <div id="jobTypeBoxes">
                        <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Full Time</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Contract</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Part Time</span>
                        </label>
                    </div>
                </div>
            </li>
        </ul>
        <button (click)="doSearch()" class="btn btn-success">Search</button>
        <button class="btn btn-danger">Reset</button>

    </div>

    <div id="jobContainer">
      <!--
      <pre>
        Total: {{ total }}        
        Page: {{ page }}
      </pre>
      -->

        <div class="card job-card" *ngFor="let job of currentJobsToShow">
            <div class="card-header">
              <h2 class="cardTitle"><a routerLink="/job/{{job.id}}" class="pull-left">{{ job.title }}</a></h2>
            </div>
            <div class="card-body row">
                <div class="col-xs-12 col-md-7">
                    <span class="cardJobTitle">Full Time</span>
                    <p>Job Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
                <div class="col-xs-12 col-md-2"><span class="cardCompanyName"><a href="">Company Name</a></span></div>
                <div class="col-xs-12 col-md-2"><span class="cardPostDate">3 Days Ago</span><span class="cardJobLocation">Job Location</span></div>
                <div class="col-xs-12 col-md-1 view-job"><i class="material-icons">add box</i></div>
            </div>
        </div>

    </div>

    <div class="pagination-container">
        <app-job-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        [pagesToShow]="3"
        [page]="page"
        [perPage]="limit"
        [count]="total">
      </app-job-pagination> 
    </div>   

</div>


