#viewJobsContainer {
  width: 100%;
  margin: 65px 0 0 0;
  position: relative;
}

#smallScreenFilter {
  z-index: 1000;
  font-size: 14px;
}

#smallScreenFilter ul {
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

#smallScreenFilter li {
  margin: 10px;
}

#smallScreenFilter label {
  display: block;
}

#smallScreenToggle {

}

.arrow-down,
.arrow-up {
  display: block;
}

#filter-content {

}

#dropdownFilterList {
  list-style: none;
}

.custom-control-description {
  font-size: 14px;
}

#sidebar {
  position: absolute;
  left:  0;
  top: 0;
  width: 30%;
  min-height: 100%;
  margin: 0;
  padding-top: 50px;
  color: #FFF;

  background-image:
  linear-gradient(
    to right,
    #019de6, #0079ca, #2b4257
  );
}

.mat-form-field {
    width: 100%;
}

#sidebar label{
  display: block;
}

#filterList {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  font-size: 14px;
  width: 80%;
}

#filterList li {
  margin-bottom: 20px;
}

#filterList li,
#filterList input {
width: 100%;
}

#jobType,
#jobTypeBoxes {
  width: 100%;
}

.nav-link {
  color: #FFF;
}

#jobContainer {
  position: absolute;
  right:  0;
  margin-left:  20px;
  margin-top: 63px;
  width: 75%;
}

.card {
  width: 100%;
}

.job-card[_ngcontent-c3]:hover {
  background: #EEEDED;
  cursor: pointer;
}

.job-card:hover {
  background: rgb(172, 171, 171);
  cursor: pointer;
}

#jobContainer row {
  padding: 0;
}

.card-body {
  text-align: left;
}

.pull-left {
  float: left;
}

.cardTitle {
  font-size: 1.3rem;
}

.cardJobTitle::before {
content: "\2014 \A0";
}

.cardJobTitle {
    color: #868e96;
}

.cardPostDate {
  font-size: .8rem;
  color: #868e96;
}

.cardPostDate,
.cardJobLocation {
  display: block;
}

.pagination-container {
  position: fixed;
  bottom: 40px;
  width: 100%;  
}

#sidebar {
  position: fixed;
  background: #fff;
  font: #000;
  top: 80px;
}

@media (max-width: 767px) {
  #sidebar {
      display: none;
  }

  #smallScreenFilter {
      margin-top: 65px;
  }

  #jobContainer {
      width: 100%;
      margin-top: 0;
  }

  .cardTitle {
      font-size: 1.5rem;
  }

}

@media (min-width: 767px) {
  #smallScreenFilter,
  #smallScreenFilter-content {
      display: none;
  }
}
