<nav id="navContainer" class="navbar navbar-expand-md fixed-top">
    <div id="navContents" class="row">
        <div id="logoContent" class="col-sm-12">
            <img class="navbar-brand" src="../../../assets/images/VT_Logo_Trimmed.png" alt="VistaTherapy Logo">
            <button class="navbar-toggler  custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseImage" aria-controls="navbarCollapseImage" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button id="employerBtn" class="btn btn-primary">Employers</button>
        </div>

        <div id="navLinkContent" class="col-sm-12">
            <div class="collapse navbar-collapse" id="navbarCollapseImage">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/jobs" routerLinkActive="active">Search Jobs</a>
                    </li>
                    <li id="selectBoxToggle" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore Careers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/advanced-search" routerLinkActive="active">Advanced Search</a>
                          <a class="dropdown-item" routerLink="/jobs">Browse</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
