#navigation {
  background: #CCC;
  height: 56px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

#brand {
  font-size: 1.25rem;
}

#nav-link-container {

}

#nav-link-container ul {
  display: inline-flex;
  list-style: none;
  margin-left: -20px;
}

#nav-link-container li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#nav-link-container a {
  color: #000;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}
