.wrap .content {
    background: #fff;
}

main.homepage {
    background-image:
    linear-gradient(
      to right, 
      #2d2323, #543e6c, #b38db7
    );
}


main.homepage .hero-section {
    /* background-image: url('VT_Logo.png'); */
    background-image: url('../../../assets/images/VT_Logo.png');
    background-position: 0;
    background-size: 31%;
    background-repeat: no-repeat;
}

main.homepage .hero-section {
    padding: 118px 0 98px;
    position: relative;
    z-index: 2;
    min-height: 350px;
}

.hero-container .container {
    text-align: center;
    color: #FFF;
}

.hero-container .container div.homepage-search-title {
    font-weight: bold;
    font-size: 40px;
}