#homeJumbotron {
    margin-top: 100px;
    width: calc(100% + 15px);
}

#searchForm {
    width:70%;
    margin: 0 auto;
}

#homeSearch {
  margin-left: .5rem;
}

#jumbotronMessage {
    margin-top: 75px;
    color: #FFF;
    font-size: 25px;
    margin-left: 25px;    
}

.wrap .content {
    background: #fff;
}

#homeJumbotron {
    background-image:
    linear-gradient(
      to right,
      #bb77a0, #ad387f, #7f1d59
    );
}

#howWeWorkContainer {
    margin: 7rem auto 9rem auto;
}

#siteBrakedown{
    margin-top: 70px;
    padding:1rem;
    /*
    background-image:
    linear-gradient(
        to right,
        #2b4257, #0079ca, #019de6
    );
    */
}

a.btn.btn-secondary {
    background-color: #ad387e;
}

@media (max-width: 767px) {
    #homeJumbotron {
        margin-top: 65px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #searchForm {
        display: block;
    }

    #searchForm input {
      margin-top: 1rem;
    }

    #homeSearch {
        margin-top: 1rem;
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    #jumbotronMessage {
        margin-top: 0;
    }
}
