<div class="container">


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Vista Therapy</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

      <form>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Keyword or Title">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Location">
          </div>
        </div>
      </form>

    </div>
  </div>


</div>
