<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="homeJumbotron" class="jumbotron">
    <div class="container">
        <div id="logoContainer" class="row">
            <div class="col-sm-12 col-lg-3">
                <img style="width: 300px;" src="../../../assets/images/VT_Logo.png" alt="">
            </div>
            <div id="jumbotronMessage" class="col-sm-12 col-lg-7">
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            </div>
        </div>
        <form>
            <div id="searchForm" class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Keyword or Title">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Location">
                </div>
            </div>
        </form>
      </div>
  </div>
<div class="container">

</div>
