<div class="container">
<form id="advancedSearchForm">

    <h3 id="formTitle">Advanced Job Search</h3>

    <pre>
        Selected Professsion: {{ selectedProfession }}
    </pre>

    <div class="form-row">
        <div class="form-group col-md-6">
            <mat-form-field>
                <mat-select panelClass="profession-select" id="profession" name="profession" class="custom-select" [(value)]="selectedProfession" placeholder="Profession">
                    <mat-option value="None">None</mat-option>
                    <mat-option *ngFor="let profession of professions" [value]="profession.title">{{profession.title}}</mat-option>
                </mat-select>   
            </mat-form-field>
            <div class="chosen-profession">{{ selectedProfession }}</div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <!--
                <mat-form-field>
                    <input matInput placeholder="Input">
                </mat-form-field>
            -->

            <label for="inputJobTitle">Job Title</label>
            <input type="text" [(ngModel)]="search.title" class="form-control" id="title" name="title" placeholder="(e.g. Information Technology)">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCompanies">Company</label>
            <input type="text" [(ngModel)]="search.employer" class="form-control" id="company" name="company" placeholder="(e.g. Apple Computers)">
        </div>
    </div>

    <div class="form-row">
        <div id="locationDiv" class="form-group col-md-6 ">
            <label for="inputLocation">Location</label>
            <input type="text" [(ngModel)]="search.location" class="form-control" id="location" name="location" placeholder="(city, state, or zip code)">
        </div>


        <div id="jobTypeCheckboxes" class="form-group col-md-6 ">
            <label id="checkboxTitle" for="jobType">Job Type</label>
            <div id="jobType">
                <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Full Time</span>
                </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Contract</span>
                </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Part Time</span>
                </label>          
            </div>
        </div>
    </div>

    <div class="form-row">
        <div id="postDateContainer" class="form-group col-md-6">
            <label for="selectField">Posting Date</label>
            <select id="selectField" class="custom-select">
                <option selected>Last 30 Days</option>
                <option value="-1">Any Date</option>
                <option value="0">Today</option>
                <option value="1">Yesterday</option>
                <option value="3">Last 3 Days</option>
                <option value="7">Last 7 Days</option>
                <option value="14">Last 14 Days</option>
                <option value="30">Last 30 Days</option>
              </select>
        </div>
    </div>

    <button id="advancedSearchSubmitBtn" type="button" (click)="doSearch()" class="btn btn-primary">Search</button>
    <button id="clearFormBtn" type="button" class="btn btn-danger">Clear Form</button>
</form>
</div>

<div class="clear">&nbsp;</div>

<div class="container">

    <div class="card job-card" *ngFor="let job of currentJobsToShow">
        <div class="card-header">
           <span class="pull-left">{{ job.profession }} - {{ job.location }}</span>
        </div>

        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ job.description }}</p>
                <footer class="blockquote-footer">{{ job.title }}</footer>
            </blockquote>
        </div>
    </div>    

</div>