#advancedSearchForm {
    margin-top: 110px;
    margin-bottom: 2rem;
    padding: 1.5rem;
    text-align: left;
    width: 65%;
}

.custom-control {
    cursor: pointer;
}

.custom-control-indicator {
    top: 0;
}

#locationDiv {
    margin-bottom: -5px;
}

#advancedSearchSubmitBtn {
    margin-left: 15px;
}

#clearFormBtn,
#advancedSearchSubmitBtn {
    float: right;
    cursor: pointer;
}

#selectField {
    display: block;
    width: 100%;
    cursor: pointer;
}


.custom-control-indicator[_ngcontent-c3] {
    cursor: pointer;
}

#formTitle{
    text-align: center;
    margin-bottom: 34px;
}

#checkboxTitle{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

#jobTypeCheckboxes{
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
}

#jobTypeCheckboxes{
    margin: 0 0px 8px 0px;
}

#jobType .custom-checkbox {
    margin-top: 10px;
}


.profession-select .mat-select-content, #advancedSearchForm .mat-form-field-infix {
    width: 410px;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

.list-group {
    width: 100%;
}

.job-card:hover {
    background: #EEEDED;
    cursor: pointer;
}

.job-card:last-of-type {
    margin-bottom: 100px;
}

.card-body {
    text-align: left;
}

.pull-left {
    float: left;
}

@media (max-width: 767px) {
    #jobTypeCheckboxes{
        margin-top: 23px;
    }

    #advancedSearchForm {
        width: 100%;
    }

    #advancedSearchSubmitBtn {
      clear: right;
    }

    #jobTypeCheckboxes{
        margin-top: 1.5rem;
    }

    #postDateContainer {
        margin-top: -8px;
    }
}

@media (min-width: 767px) {
  #advancedSearchForm {
      margin-left: auto;
      margin-right: auto;
  }
}

@media (max-width: 1000px) {
    #advancedSearchForm {
        width: 100%;
    }
}





